.pa-mt-size {
  margin-top: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-mb-size {
  margin-bottom: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-mr-size {
  margin-right: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-ml-size {
  margin-left: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-pt-size {
  padding-top: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-pb-size {
  padding-bottom: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-pr-size {
  padding-right: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-pl-size {
  padding-left: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-p-all-size {
  padding: calc(var(--pa-size-padding, 10px) * 1) !important;
}
.pa-m-all-size {
  margin: calc(var(--pa-size-padding, 10px) * 1) !important;
}

@for $i from 0 through 40 {
  .pa-mt-#{$i} {
    margin-top: #{$i}px;
  }
  .pa-mr-#{$i} {
    margin-right: #{$i}px;
  }
  .pa-mb-#{$i} {
    margin-bottom: #{$i}px;
  }
  .pa-ml-#{$i} {
    margin-left: #{$i}px;
  }
  .pa-pt-#{$i} {
    padding-top: #{$i}px;
  }
  .pa-pr-#{$i} {
    padding-right: #{$i}px;
  }
  .pa-pb-#{$i} {
    padding-bottom: #{$i}px;
  }
  .pa-pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pa-mt-#{$i}-import {
    margin-top: #{$i}px !important;
  }
  .pa-mr-#{$i}-import {
    margin-right: #{$i}px !important;
  }
  .pa-mb-#{$i}-import {
    margin-bottom: #{$i}px !important;
  }
  .pa-ml-#{$i}-import {
    margin-left: #{$i}px !important;
  }
  .pa-pt-#{$i}-import {
    padding-top: #{$i}px !important;
  }
  .pa-pr-#{$i}-import {
    padding-right: #{$i}px !important;
  }
  .pa-pb-#{$i}-import {
    padding-bottom: #{$i}px !important;
  }
  .pa-pl-#{$i}-import {
    padding-left: #{$i}px !important;
  }
}
