@use "../animation.scss";

.pa-dialog {
  transition: var(--pa-animation-time, 0.2s);
  height: 100%;
  max-height: calc(100vh - var(--pa-size-padding) * 2);
  z-index: 1;

  .pa-dialog-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: var(--pa-dialog-offset-y);
    margin-left: var(--pa-dialog-offset-x);
    background-color: var(--pa-color-bg);
    border-radius: var(--pa-size-radius, 3px);
    overflow: hidden;
    transition: var(--pa-animation-time, 0.2s);
    max-height: calc(100vh - var(--pa-size-padding, 10px) * 2);
    box-shadow: var(--pa-color-shadow);

    .pa-dialog-content_header {
      position: relative;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      font-size: calc(var(--pa-size-font) + 2px) !important;
      font-weight: bold;
      color: var(--pa-color-font);
      border-bottom: 1px solid var(--pa-color-border);
      background-color: var(--pa-color-bg);

      .title_body {
        padding: calc(var(--pa-size-padding, 10px) / 2) calc(var(--pa-size-padding)) !important;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: calc(var(--pa-size-font) + 1px);

        .is_title_body {
          font-size: var(--pa-size-font_large);
        }

        .sub_title_body {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          font-size: calc(var(--pa-size-font, 13px) + 1px);
        }
      }

      .pa-dialog-content_header_close {
        position: relative;
        width: calc(var(--pa-size-font, 13px) + var(--pa-size-padding, 10px) * 2);
        height: calc(var(--pa-size-font, 13px) + var(--pa-size-padding, 10px) * 2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--pa-color-white);
        transition: var(--pa-animation-time, 0.2s);
        background-color: var(--pa-color-danger-light-4);

        &:hover {
          cursor: pointer;
          color: var(--pa-color-white);
          background-color: var(--pa-color-danger);
        }
      }
    }

    .pa-dialog-content_body {
      position: relative;
      height: 100%;
      overflow: hidden;

      .dialog__body {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }

      .dialog__body.padding-top {
        padding-top: calc(var(--pa-size-padding, 10px)) !important;
      }

      .dialog__body.padding-left {
        padding-left: calc(var(--pa-size-padding, 10px)) !important;
      }

      .dialog__body.padding-bottom {
        padding-bottom: calc(var(--pa-size-padding, 10px)) !important;
      }

      .dialog__body.padding-right {
        padding-right: calc(var(--pa-size-padding, 10px)) !important;
      }
    }

    .pa-dialog-content_body_background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
  .pa-dialog-content.pa-dialog-content_body_background {
    --pa-color-bg: var(--pa-color-bg-opacity-1);
    --pa-color-border: var(--pa-color-border-opacity-1);
    --pa-color-shadow: 0px 0px 4px 4px var(--pa-color-border-opacity-1);
    box-shadow: var(--pa-color-shadow);
  }
  &:has(.pa-dialog-content_body_background) {
    .pa-dialog-content_body {
      background-color: var(--pa-color-bg);
    }
    .pa-dialog-content_footer {
      border-color: var(--pa-color-border-opacity-1);
      background-color: var(--pa-color-bg);
    }
  }

  .full_icon {
    display: flex !important;
    width: calc(var(--pa-size-height) - 9px);
    height: calc(var(--pa-size-height) - 9px);
    color: var(--pa-color-info-light-3);
    border: 1px solid;
    border-radius: var(--pa-size-radius, 3px);
    transition: var(--pa-animation-time, 0.2s);

    &:hover {
      color: var(--pa-color-primary);
    }
  }

  .pa-dialog-content_footer {
    position: relative;
    padding: var(--pa-size-padding, 10px) !important;
    border-top: 1px solid var(--pa-color-border);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(.pa-dialog-content_footer_left),
    &:has(.pa-dialog-content_footer_right) {
      justify-content: space-between;

      .pa-dialog-content_footer_center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .pa-dialog-content_footer_left,
    .pa-dialog-content_footer_right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.pa-dialog_full {
  height: 100% !important;
  width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  border-radius: 0 !important;

  > .pa-dialog-content {
    max-height: 100% !important;
    border-radius: 0px !important;
  }
}
