@use "../../pa-icon/iconfont/iconfont.css";

.pa-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--pa-size-font) + 1px);
  font-style: normal;
  line-height: 1;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
  }
}

.pa-icon__font {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: inherit;
}

.pa-icon__font--gradient {
  background-image: var(--pa-icon-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
