.pa-line {
  width: calc(var(--pa-line-width) - var(--pa-line-margin-right) - var(--pa-line-margin-left));
  margin-left: var(--pa-line-margin-left);
  margin-top: var(--pa-line-margin-top);
  margin-bottom: var(--pa-line-margin-bottom);
  margin-right: var(--pa-line-margin-right);
  display: flex;
  height: var(--pa-line-height);
  line-height: var(--pa-line-height);

  &::before,
  &::after {
    content: "";
    display: block;
    width: 1px;
    flex: 1;
    border-top: var(--pa-line-height) var(--pa-line-border-style, solid) var(--pa-line-border-color);
  }
}
