.pa-scrollbar-list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.pa-scrollbar-list_footer {
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;

  &.padding-top {
    padding-top: var(--pa-size-padding, 10px);
  }

  &.padding-left {
    padding-left: var(--pa-size-padding, 10px);
  }

  &.padding-right {
    padding-right: var(--pa-size-padding, 10px);
  }
}

.pa-loading {
  text-align: center;
  padding: var(--pa-size-padding, 10px);
}

.no-more {
  text-align: center;
  color: var(--pa-color-text-secondary);
  font-size: var(--pa-size-font);
  padding: var(--pa-size-padding, 10px);
}
