.pa-title {
  position: relative;
  font-weight: bold;
  font-size: var(--pa-size-font, 16px);
  margin-left: 0;
  color: var(--pa-color-primary);
  width: calc(100% - var(--pa-scroll-padding));

  .pa-title_box {
    width: 100%;
  }

  .pa-title_text {
    display: inline-flex;
    width: max-content;
    position: relative;
    padding-bottom: calc(var(--pa-size-padding, 10px) * 0.8);
  }

  .pa-title_tip {
    font-size: 14px;
  }

  &.default {
    .pa-title_text::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      height: calc(var(--pa-size-padding, 10px) * 0.8);
      border-radius: 0 8px;
      z-index: 2;
      left: 0px;
      width: 100%;
      background-color: var(--pa-color-primary);
    }
  }

  &.horizontal {
    .pa-title_text {
      padding-left: calc(var(--pa-size-padding) * 4);
      padding-bottom: 0;
      margin-bottom: calc(var(--pa-size-padding, 10px) * 0.8);
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 6px;
        width: calc(var(--pa-size-padding) * 3);
        content: "";
        display: block;
        border-radius: 8px;
        z-index: 2;
        background-color: var(--pa-color-primary);
      }
    }
  }

  &.vertical {
    .pa-title_text {
      padding-left: var(--pa-size-padding);
      &::after {
        position: absolute;
        left: 0;
        height: calc(100% - var(--pa-size-padding, 10px) * 0.8);
        width: 5px;
        content: "";
        display: block;
        border-radius: 8px;
        z-index: 2;
        background-color: var(--pa-color-primary);
        transform: scaleY(0.8);
      }
    }
  }
}

.pa-title.padding-top {
  padding-top: var(--pa-size-padding, 10px);
}

.pa-title.padding-left {
  padding-left: var(--pa-size-padding, 10px);
  width: calc(100% - calc(var(--pa-size-padding, 10px)));
}

.pa-title.padding-bottom {
  padding-bottom: var(--pa-size-padding, 10px);
}

.pa-title.padding-right {
  padding-right: var(--pa-size-padding, 10px);
  width: calc(100% - calc(var(--pa-size-padding, 10px)));
}

.pa-title.padding-left.padding-right {
  width: calc(100% - calc(var(--pa-size-padding, 10px)) * 2);
}
