.pa-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-2px);
  flex-wrap: wrap;
  width: 100%;

  .pa-tag-text {
    display: flex;
    padding: 1px calc(var(--pa-size-padding, 10px) / 2);
    margin: calc(var(--pa-size-padding, 10px) / 4);
    border-radius: calc(var(--pa-size-radius, 3px) * 0.8);
    line-height: normal;
    justify-content: center;
    align-items: center;
    background-color: var(--pa-color-info-light-8);
    color: var(--pa-color-font);
    font-size: calc(var(--pa-size-font, 13px) - 1px);
    overflow: hidden;
    width: max-content;
    flex: 0 0 max-content;

    .pa-tag-text_content {
      width: max-content;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .pa-tag-text_close {
      margin-left: calc(var(--pa-size-padding, 10px) / 2);
      color: var(--pa-color-default);
      transition: var(--pa-animation-time, 0.2s);
      font-size: var(--pa-size-font, 13px);

      &:hover {
        color: var(--pa-color-danger);
        cursor: pointer;
      }
    }
  }
}

.pa-tag-collapse {
  flex-wrap: nowrap;
  max-width: calc(100%);

  &-count {
    width: auto;
    flex: none;
  }
}

.pa-tag-add {
  border: 1px dashed var(--pa-color-info-light-4) !important;
  background-color: transparent !important;
  cursor: text;

  input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--pa-color-font);
    font-size: var(--pa-size-font, 13px);
    font-family: inherit;

    &::placeholder {
      color: var(--pa-color-info-light-4);
    }
  }

  &:hover {
    border-color: var(--pa-color-primary) !important;
  }

  &:focus-within {
    border-color: var(--pa-color-primary) !important;
  }
}

.pa-popover-reference {
  & > .pa-tag-text {
    color: var(--pa-color-font);
    background-color: var(--pa-color-info-light-6);
    transition: background-color var(--pa-animation-time, 0.2s);

    &:hover {
      color: var(--pa-color-white);
      background-color: var(--pa-color-primary);
    }
  }
}
