.pa-row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  > * {
    margin-top: var(--row-gutter-value);
    margin-bottom: var(--row-gutter-value);
  }
}

/** 水平对齐方式 */
.pa-row--start {
  justify-content: flex-start;
}

.pa-row--end {
  justify-content: flex-end;
}

.pa-row--center {
  justify-content: center;
}

.pa-row--space-around {
  justify-content: space-around;
}

.pa-row--space-between {
  justify-content: space-between;
}

/** 垂直对齐方式 */
.pa-row--align-top {
  align-items: flex-start;
}

.pa-row--align-center {
  align-items: center;
}

.pa-row--align-bottom {
  align-items: flex-end;
}
