@use "./iconfont/iconfont.css" as icon1;

.pa-icon {
  display: inline-block;
  font-size: calc(var(--pa-size-font) + 1px);
  font-style: normal;

  .pa-icon_font {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: inherit;
    line-height: 1em;

    &.background-color {
      background-image: var(--set-icon-background-color);
      -webkit-background-clip: text; /* 兼容性写法 */
      background-clip: text;
      color: transparent; /* 将文字设为透明，显示背景 */
    }
  }
}
