.pa-empty {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: var(--pa-size-font, 13px);

  .pa-empty_icon {
    font-size: 60px;
    transform: translate(3px, -5px);
  }

  .pa-empty_message {
    max-width: 75%;
    text-align: center;
    line-height: 1.2em;
  }

  .pa-empty_inner {
    width: 133px;
    height: 133px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 27px;
    background: #f9f8fd;
    border-radius: 50%;
    color: #d8d8d8;
    font-size: var(--pa-size-font, 13px);
  }
}
